.welcome {
  position: relative;
  width: 290px;
  height: 100%;
  color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  background-color: #fad31d;
  border-radius: 30px;
  text-shadow: 5px 5px 3px #d99c25;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.head {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ears {
  position: absolute;
  width: 90%;
  height: 50px;
  background-color: #fad31d;
  box-shadow: -5px 5px 20px #d99c25;
  border-radius: 50%;
  z-index: 1000;
  overflow: hidden;
}

.left-ear {
  top: -110px;
  left: -160px;
  transform-origin: top right;
  transform: rotate(-65deg) translateZ(0);
  animation-name: left-ear-move;
  animation-duration: 3.6s;
}

.right-ear {
  top: -100px;
  right: 125px;
  transform-origin: top right;
  transform: rotate(-105deg) translateZ(0);
  animation-name: right-ear-move;
  animation-duration: 3.6s;
}

@keyframes left-ear-move {
  15% {
    transform: rotate(-70deg) translateZ(0)
  }

  25% {
    transform: rotate(-70deg) translateZ(0)
  }

  35% {
    transform: rotate(-65deg) translateZ(0)
  }

  55% {
    transform: rotate(-60deg) translateZ(0)
  }

  70% {
    transform: rotate(-60deg) translateZ(0)
  }

  80% {
    transform: rotate(-65deg) translateZ(0)
  }

  85% {
    transform: rotate(-60deg) translateZ(0)
  }

  90% {
    transform: rotate(-65deg) translateZ(0)
  }

  95% {
    transform: rotate(-60deg) translateZ(0)
  }
}

@keyframes right-ear-move {
  15% {
    transform: rotate(-110deg) translateZ(0)
  }

  25% {
    transform: rotate(-110deg) translateZ(0)
  }

  35% {
    transform: rotate(-105deg) translateZ(0)
  }

  55% {
    transform: rotate(-100deg) translateZ(0)
  }

  70% {
    transform: rotate(-100deg) translateZ(0)
  }

  80% {
    transform: rotate(-105deg) translateZ(0)
  }

  85% {
    transform: rotate(-110deg) translateZ(0)
  }

  90% {
    transform: rotate(-105deg) translateZ(0)
  }

  95% {
    transform: rotate(-110deg) translateZ(0);
  }
}

.left-ear::before {
  content: '';
  display: block;
  position: relative;
  top: -40px;
  left: -12px;
  width: 100px;
  height: 100px;
  background-color: #111;
  border-radius: 50%;
}

.right-ear::before {
  content: '';
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  width: 100px;
  height: 100px;
  background-color: #111;
  border-radius: 50%;
}

.back {
  position: relative;
  padding-top: 20px;
  width: 86%;
  min-height: 250px;
  max-height: 380px;
  box-shadow: 10px 15px 20px #d99c25,
    10px 0px 200px #d99c25;
  border-bottom-left-radius: 45% 50%;
  border-bottom-right-radius: 45% 50%;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.striae:nth-of-type(1) {
  width: 180px;
  height: 40px;
  background-color: #7a2e15;
  box-shadow: 0px 10px 15px #d99c25;
  border-radius: 50%;
}

.striae:nth-of-type(2) {
  width: 200px;
  height: 40px;
  background-color: #7a2e15;
  box-shadow: 0px 10px 15px #d99c25;
  border-radius: 50%;
}

.tail {
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  overflow: visible;
  z-index: 1100;
  animation-name: swing-tail;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes swing-tail {
  20% {
    transform: rotate(60deg) translateZ(0) skew(0deg)
  }

  50% {
    transform: rotate(-50deg) translateZ(0) skew(0deg)
  }

  75% {
    transform: rotate(-30deg) translateZ(0) skew(0deg)
  }

  85% {
    transform: rotate(-40deg) translateZ(0) skew(0deg)
  }

  95% {
    transform: rotate(30deg) translateZ(0) skew(0deg)
  }
}

.tail>:nth-child(1) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 50px;
  box-shadow: 10px 10px 15px #d99c25;
  background-color: #7a2e15;
  /* 使用translateZ(0)消除锯齿 */
  transform: rotate(0deg) scale(1) translateZ(0) skew(15deg);
  z-index: 1000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.tail>:nth-child(2) {
  position: absolute;
  top: 45px;
  left: -8px;
  width: 20px;
  height: 45px;
  box-shadow: 10px 10px 15px #d99c25;
  background-color: #7a2e15;
  transform: rotate(39deg) scale(1.1) translateZ(0);
  z-index: 1000;
}

.tail>:nth-child(3) {
  position: absolute;
  top: 74px;
  left: 1px;
  width: 20px;
  height: 50px;
  box-shadow: 10px 10px 15px #d99c25;
  background-color: #7a2e15;
  transform: rotate(-38deg) scale(1.4) translateZ(0);
  z-index: 1000;
}

.tail>:nth-child(4) {
  position: absolute;
  top: 114px;
  left: 1px;
  width: 20px;
  height: 40px;
  box-shadow: 10px 10px 15px #d99c25;
  background-color: #fad31d;
  transform: rotate(37deg) scale(1.6) translateZ(0);
  z-index: 1000;
}

.tail>:nth-child(5) {
  position: absolute;
  top: 151px;
  left: 10px;
  width: 20px;
  height: 45px;
  box-shadow: 0px 10px 15px #d99c25;
  background-color: #fad31d;
  transform: rotate(-35deg) scale(1.9) translateZ(0);
  z-index: 1000;
}

.tail>:nth-child(6) {
  position: absolute;
  top: 209px;
  left: -2px;
  width: 20px;
  height: 50px;
  box-shadow: 10px 10px 15px #d99c25;
  background-color: #fad31d;
  transform: rotate(33deg) scale(2.3) translateZ(0);
  z-index: 1000;
}

.tail>:nth-child(7) {
  position: absolute;
  top: 295px;
  left: -4px;
  width: 20px;
  height: 30px;
  box-shadow: 10px 10px 15px #d99c25;
  background-color: #fad31d;
  transform: rotate(-31deg) scale(4) translateZ(0) skew(-18deg);
  z-index: 1000;
}